NODE_ENV = development
BOT_USERNAME = @bot
BOT_NAME = Bot Name
TG_API_KEY = bot0000000000000000000000000
DEFAULT_GROUP_ID = -10000000000
YT_API_KEY = 00000000AAAAAAAAAAAAAAAA
FIREBASE_URL = https://0000aaaa.firebaseio.com
BOT_LANG = en