NODE_ENV = development
PORT=5000
BOT_USERNAME = @bot
BOT_NAME = Bot Name
TG_API_KEY = bot0000000000000000000000000
DEFAULT_GROUP_ID = -10000000000
YT_API_KEY = 00000000AAAAAAAAAAAAAAAA
FIREBASE_URL = https://0000aaaa.firebaseio.com
BOT_LANG = en
REDIS_HOST = 127.0.0.1
REDIS_PORT = 6379
REDIS_TTL = -1